ChangeLog
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache/
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/install-sh
config/ltmain.sh
config/missing
configure
configure.ac
doc/html/
examples/Makefile
examples/Makefile.in
fastcgi++.pc
include/Makefile
include/Makefile.in
include/fastcgi++/config.h
include/fastcgi++/config.h.in
include/fastcgi++/stamp-h1
*o
src/*la
src/.*
libtool
